header{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
footer{
    width: 100%;
    background: #51856d;
    color: white;       
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin: 20px; 
}
.link{
    color: black;
}
.copyright{
    color: white;
}