header{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
footer{
    width: 100%;
    background: #5A967B;
    color: white;       
}
  
.container-footer-oll{
    width: 100%;
    
    margin: auto;
    padding: 40px;    
}
  
.body-footer{
    
    display: flex;
    justify-content: space-between;  
}
.columna-2{
    max-width: 400px;     
}
  
.columna-2 h2{
    font-size: 22px;
    font-weight: bold;
    color: #1D382A; 
}
  
.row-footer{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px; 
}